@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sf2o6g');
  src:  url('fonts/icomoon.eot?sf2o6g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sf2o6g') format('truetype'),
    url('fonts/icomoon.woff?sf2o6g') format('woff'),
    url('fonts/icomoon.svg?sf2o6g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-with-circle-right:before {
  content: "\e903";
}
.icon-cross:before {
  content: "\e905";
}
.icon-menu:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-google:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
