<template lang="html">

  <!-- Banner Card -->
  <section class="row banner-container margin0">
    <div class="banner">

      <!-- Banner Logo -->
      <img :style="" src="../assets/img/wacom-logo-white@2x.png" alt="Wacom Logo White Transparent" class="banner-logo">

      <!-- Banner Title & Subtitle -->
      <h1>{{banner_options.title}}</h1>
      <h2>{{banner_options.subtitle}}</h2>

    </div>
  </section>
  <!-- Banner Card END -->

</template>

<script>
export default {
  props: ['banner_options']
}
</script>

<style lang="scss">

  // Banner Styles

  .banner-container {
    width: 100%;
    min-height: 465px;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url("../assets/img/wacom-background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }

  .banner {
    text-align: center;
    h1, h2 {
      color: #fff;
    }
    h1 {
      font-size: 50px;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 35px;
      margin-bottom: 0;
    }
  }

  .banner-logo {
    width: 137px;
    height: 24px;
    margin-bottom: 28px;
  }

  @media (min-width: 40.0rem) {
    .banner {
      text-align: left;
      margin-left: 105px;
    }
  }

</style>
