<template lang="html">

  <!-- Copyright Section -->
  <section class="copyright">
    <div class="row">

      <!-- Copyright Message -->
      <div class="column column-75 message-copyright-container">
        <p class="message-copyright">{{message}}</p>
      </div>

      <!-- Copyright Logo -->
      <div class="column column-25 logo-copyright-container">
        <a href="#"><img src="../assets/img/wacom-logo-black@2x.png" class="logo-copyright" alt="Wacom Logo Black"></a>
      </div>

    </div>
  </section>
  <!-- Copyright Section END -->

</template>

<script>
export default {
  props: ['message']
}
</script>

<style lang="scss">
  .copyright {
    max-width: 1150px;
    margin: auto;
    margin-bottom: 20px;
    .logo-copyright {
      width: 138px;
      height: 24px;
    }
    .message-copyright {
      margin-top: 5px;
      font-size: 11px;
      color: #7D7D7D;
    }
  }
  @media (min-width: 0) {
    .message-copyright-container,
    .logo-copyright-container {
      text-align: center!important;
    }
  }
  @media (max-width: 40.0rem) {
    .message-copyright-container,
    .logo-copyright-container {
      max-width: 90%!important;
      margin: auto!important;
    }
  }
</style>
