<template lang="html">

  <!-- Featured Product Section -->
  <section class="featured-products">

    <h1>Featured Products</h1>

    <!-- Featured Prouct Row -->
    <div class="row">
      <div v-for="elem in products" :key="elem.id" class="column">

        <!-- Images -->
        <img v-if="elem.img=='wacom-intous'" src="../assets/img/wacom-combo.png" alt="">
        <img v-if="elem.img=='wacom-intous'" class="product-logo-image" src="../assets/img/wacom-intuos-logo.png" alt="">

        <img v-if="elem.img=='wacom-intous-pro'" src="../assets/img/wacom-intuos-pro.png" alt="">
        <img v-if="elem.img=='wacom-intous-pro'" class="product-logo-image" src="../assets/img/wacom-intuos-pro-logo.png" alt="">

        <img id="cintiq" v-if="elem.img=='wacom-cintiq-pro'" src="../assets/img/wacom-Cintiq24.png" alt="">
        <img id="cintiq-pro" v-if="elem.img=='wacom-cintiq-pro'" class="product-logo-image" src="../assets/img/wacom-cintiq-pro-logo.png" alt="">

        <!-- Description -->

        <p>{{elem.subtitle}}</p>
        <a class="action-chevron" href="#">Watch Video <span class="chevron-right icon-chevron-with-circle-right"></span></a> <br>
        <a class="action-chevron" href="#">Learn More <span class="chevron-right icon-chevron-with-circle-right"></span></a>
      </div>
    </div>
    <!-- Featured Prouct Row END -->

  </section>
  <!--Featured Product Section END  -->

</template>

<script>
export default {
  props: ['products']
}
</script>

<style lang="scss">
  .featured-products {
    text-align: center;
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 120px;
    h1 {
      margin-top: 20px;
      margin-bottom: 80px;
      color: #000;
      font-size: 40px;
    }
    .product-logo-image {
      margin: 20px 0 25px 0;
    }
    p {
      color: #000;
      font-size: 24px;
    }
    a {
      color: #1797D4;
      display: inline-block;
      margin-bottom: 3px;
    }
    .chevron-right {
      font-size: 20px;
      display: inline-block;
      margin-left: 5px;
      position: relative;
      top: 4px;
    }
    .column {
      padding: 0 40px;
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 40.0rem) {
    .featured-products img {
      max-width: 80%!important;
      text-align: center!important;
      margin-left: auto!important;
      margin-right: auto!important;
    }
  }
</style>
