<template lang="html">

  <!-- Footer -->
  <footer class="row">
    <div class="inner-footer">

      <!-- Social Media Navigation -->
      <nav class="social-nav">
        <a href="#" v-for="elem in data.social_media" :key="elem.key">
          <span :class="'opacity-hover iconsocial icon-'+elem"></span>
        </a>
      </nav>

      <!-- Contact Data -->
      <h6>{{data.contact}}</h6>
      <a class="mailto" :ref="'mailto:'+data.email">{{data.email}}</a>

    </div>
  </footer>
  <!-- Footer END -->

</template>

<script>
export default {
  props: ['data']
}
</script>

<style lang="scss">
  footer {
      flex-direction: column;
      margin-bottom: 60px;
  }
  .inner-footer {
    text-align: center;
    max-width: 960px;
    margin: 70px auto;
    .social-nav {
      margin-bottom: 30px;
      .iconsocial {
        color: #1797D4!important;
        display: inline-block;
        font-size: 18px;
        margin: 0 16px;
      }
    }
    h6 {
      color: black;
      font-size: 24px;
    }
    .mailto {
      color: #1797D4;
    }
  }
  @media (max-width: 40rem) {
    footer {
      max-width: 90%!important;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
