<template lang="html">

  <!-- Main Header -->
  <header id="main-header">

    <div class="row">

      <!-- Left Column for Logo -->
      <div class="column menu-left clearfix" id="wacom-logo-img">
        <img src="../assets/img/wacom-logo@2x.png" alt="Wacom Logo" id="logo">
        <a
          @click="show_mobile_menu = !show_mobile_menu"
          :class="!show_mobile_menu ? 'menu-mobile icon-menu' : 'menu-mobile icon-cross'">
        </a>
      </div>

      <!-- Right Column for Menu -->
      <nav class="column menu-right text-align-right" id="main-nav">

        <!-- Desktop Menu -->
        <a
          v-for="elem in menu" :key="elem.id"
          class="menu-item"
          :href="elem.url">
            {{elem.title}}
        </a>

      </nav>
      <!-- Main Nav END -->

      <!-- Mobile Menu -->
      <div v-if="show_mobile_menu" id="mobile-menu-container">
        <a
          v-for="elem in menu" :key="elem.id"
          class="menu-item-mobile"
          :href="elem.url">
            {{elem.title}}
        </a>
      </div>

    </div>

  </header>
  <!-- Main Header END -->

</template>

<script>

// Menu received
export default {
  props: ['menu'],
  data() {
    return {
      show_mobile_menu: false
    }
  }
}

</script>

<style lang="scss">

@import '../assets/sass/helpers/all';

// Main Header Styles

  #main-header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    .row {
      width: 100%!important;
      max-width: 1150px!important;
      margin: auto!important;
    }
  }

  #logo {
    width: 256px;
    height: 37px;
    margin: 16px 0 12px 25px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  #main-nav {
    a {
      color: #000;
      display: inline-block;
      margin: 22px 12px;
      &:last-child {
        margin-right: 25px;
      }
    }
  }

  .menu-item {
    display: none!important;
  }

  .menu-mobile {
    font-size: 28px;
    float: right!important;
    display: inline-block;
    margin-top: 18px;
    margin-right: 25px;
    color: #000;
    cursor: pointer;
    @include transition(0.4s ease);
    &:hover {
      color: #1797D4;
    }
  }

  .menu-right {
    display: none!important;
  }

  #mobile-menu-container {
    z-index: 3;
    position: fixed;
    left: 0;
    top: 66px;
    width: 100%;
    height: calc(100% - 66px);
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
    a {
      color: #000;
      display: block;
      font-size: 28px;
      padding: 15px 0;
      &:hover {
        color: #1797D4;
      }
    }
  }

  @media (min-width: 40.0rem) {
    .menu-left {
      img {
        float: left;
      }
      .menu-mobile {
        float: right;
      }
    }
  }


  @media (min-width: 48.0rem) {
    .menu-right {
      display: inline-block!important;
    }
    #main-nav {
      text-align: right!important;
    }
    #logo {
      float: left!important;
    }
    .menu-mobile {
      display: none!important;
      float: right!important;
    }
    .menu-item {
      display: inline-block!important;
    }
  }

  @media (min-width: 50.0rem) {
    #logo {
      width: 256px;
      height: 37px;
    }
    #wacom-logo-img {
      text-align: left!important;
    }
  }

</style>
