<template lang="html">

  <!-- Text Card -->
  <section class="row">
    <div class="text-card">
      <h3>{{title}}</h3>
      <p>{{text}}</p>
      <p class="roboto">{{cta}}</p>
    </div>
  </section>
  <!-- Text Card END -->

</template>

<script>
export default {
  props: ['title', 'text', 'cta']
}
</script>

<style lang="scss">

  .text-card {
    text-align: center;
    max-width: 960px;
    margin: 70px auto;
    h3 {
      font-size: 40px;
      margin-bottom: 30px;
    }
    p, h3 {
      color: #000;
    }
    p {
      font-family: 'helvetica', sans-serif;
    }
  }

  @media (max-width: 60rem) {
    .text-card {
      max-width: 90%!important;
      margin-left: auto;
      margin-right: auto;
    }
  }

</style>
