<template lang="html">

  <!-- Tours Container -->
  <section class="tours">

    <div class="row trs">

      <!-- Loops through Elements -->
      <div v-for="elem in tours" class="column column-33 tour">
        <article class="image-title" :class="'img-'+elem.img">
          <p>{{elem.city}}</p>
        </article>
        <p class="subtitle">{{elem.date}}</p>
        <p class="title">{{elem.place}}</p>
        <a class="action-chevron" :href="elem.url">Register <span class="chevron-right icon-chevron-with-circle-right"></span></a>
      </div>

    </div>

  </section>
  <!-- Tours Container END -->

</template>

<script>
export default {
  props: ['tours'],
  methods: {
    getUrlMap() {
      var url = "../assets/img/wacom-mexico.png"
      return { 'background-image': 'url("' + url + '")' }
    }
  }
}
</script>

<style lang="scss">
  .tours {
    text-align: center;
    max-width: 1050px;
    margin: 0 auto;
  }
  .trs {
    flex-wrap: wrap;
  }
  .tour {
    padding: 0 50px 60px 50px!important;
    img {
      width: 100%!important;
      height: auto!important;
    }
    .subtitle,
    .title {
      margin: 0;
      color: #000;
    }
    .subtitle {
      font-size: 24px;
      line-height: 0.8;
    }
    .title {
      font-size: 30px;
      margin-bottom: 12px;
    }
    .image-title {
      background-size: cover;
      background-position: center;
      display: block;
      height: 250px;
      width: 250px;
      margin: 0 auto;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center!important;
      p {
        margin: 0;
        color: #fff;
        font-size: 32px;
      }
    }
    a {
      color: #1797D4;
    }
    .chevron-right {
      font-size: 20px;
      display: inline-block;
      margin-left: 5px;
      position: relative;
      top: 4px;
    }
    .img-mexico {
      background-image:url("../assets/img/wacom-mexico.png")
    }
    .img-bogota {
      background-image:url("../assets/img/wacom-bogota.png")
    }
    .img-brazil {
      background-image:url("../assets/img/wacom-brazil.png")
    }
    .img-buenos-aires {
      background-image:url("../assets/img/wacom-buenos-aires.png")
    }
    .img-lima {
      background-image:url("../assets/img/wacom-lima.png")
    }
    .img-santiago {
      background-image:url("../assets/img/wacom-santiago.png")
    }
  }
  @media (max-width: 40rem) {
    .tour {
      padding: 0 20px 60px 20px!important;
    }
  }
</style>
