<template>

  <div id="app">

    <!-- Header Component -->
    <Header :menu="menu" />

    <!-- Main Content Wrapper -->
    <div class="main-content">

      <!-- Banner Component -->
      <Banner :banner_options="banner_options" />

      <!-- Text Card Component -->
      <TextCard
        :title="text_card.title"
        :text="text_card.text"
        :cta="text_card.cta" />

      <!-- Tour Components -->
      <Tour :tours="tours" />

      <!-- Featured Products Component -->
      <FeaturedProducts :products="featured" />

      <!-- Footer Component -->
      <Footer :data="footer_data" />

      <!-- Copyright Component -->
      <Copyright :message="copyright_message" />

    </div>

  </div>

</template>

<script>

// Json Data. Normally this would come from a CMS backend.
import dataJson from './assets/data/data.json'

// Import Components to Use in this App
import Header from './components/Header'
import Banner from './components/Banner'
import TextCard from './components/TextCard'
import Tour from './components/Tour'
import FeaturedProducts from './components/FeaturedProducts'
import Footer from './components/Footer'
import Copyright from './components/Copyright'

// Main Vue App
export default {
  name: 'App',
  data () {
    return {
      menu: dataJson.menu,
      banner_options: dataJson.banners[0],
      text_card: dataJson.text_cards[0],
      tours: dataJson.tours,
      featured: dataJson.featured_products,
      footer_data: dataJson.footer,
      copyright_message: dataJson.copyright
    }
  },
  components: {
    Header,
    Banner,
    TextCard,
    Tour,
    FeaturedProducts,
    Footer,
    Copyright
  }
}

</script>

<style lang="scss">

  // Import SASS dependencies
  @import './assets/sass/style.scss';
  @import './assets/icons/style.css';
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


</style>
