@import 'helpers/all';
@import 'base/all';

// Global Styles for components
.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.margin0 {
  margin: 0!important;
}

.action-chevron,
.opacity-hover {
  &:hover {
    opacity: 0.8
  }
}

// MEDIA QUERIES

@media (min-width: 40.0rem) {
  .main-content {
    margin-top: 66px;
  }
}

@media (max-width: 40rem) {
  .column-33 {
    flex: 1!important;
    max-width: 100%!important
  }
}
